body {
  background-color: #f582a7;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

div {
  background-color: rgb(137, 247, 210);
  color: brown;
  text-align: center;
  display: inline-block;
  padding: 2em;
  border-radius: 0.7em;
}

#bajs {
  outline-color: blueviolet;
  outline: 3px solid royalblue;
  cursor: pointer;
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1571.ani),
    url(https://ani.cursors-4u.net/games/gam-16/gam1571.png), auto;
  animation-name: backgroundColorPalette;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes backgroundColorPalette {
  0% {
    background: yellow;
  }
  25% {
    background: red;
  }
  35% {
    background: slateblue;
  }
  50% {
    background: lime;
  }
  65% {
    background: orangered;
  }
  75% {
    background: pink;
  }
  85% {
    background: black;
  }
  100% {
    background: blue;
  }
}

#menu {
  background-color: black;
  height: fit-content;
  min-height: 50px;
}

#fyrkant {
  background-color: blue;
  display: inline-block;
  color: pink;
  padding: 50px 10px;
  margin-left: 10vw;
  border-radius: 20px;
  box-shadow: 10px 5px 5px green;
  transition: width 2s, height 5s, padding 3s, background-color 1000ms linear;
}

#fyrkant:hover {
  background-color: orange;
  color: red;
  padding: 100px;
}

#square-container {
  background-color: lime;
  border: 10px solid magenta;
  position: relative;
  height: 100%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 1px solid black;
  position: absolute;
}

#fyrkant-1 {
  background-image: url(pic/rick-roll-rick-ashley.gif);
  top: 0px;
  left: 0px;
  width: 500px;
  height: 200px;
}

#fyrkant-2 {
  background-image: url(pic/rick-roll-rick-ashley.gif);
  top: 0px;
  right: 0;
  width: 500px;
  height: 200px;
}

#fyrkant-3 {
  background-image: url(pic/hawaii-sunset-main.png);
  bottom: 0px;
  left: 22%;
  width: 700px;
  height: 500px;
}

#fyrkant-4 {
  background-image: url(pic/black-dude-crying.gif);
  background-size: cover;
  bottom: 40%;
  left: 10px;
  width: 300px;
  height: 150px;
}

#fyrkant-5 {
  background-image: url(pic/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 40%;
  right: 50px;
  width: 290px;
  height: 245px;
}

#fyrkant-6 {
  background-image: url(pic/334-3347226_pewdiepie-png-image-pewdiepies-girl-transparent-png.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 100px;
  left: 47.5%;
  width: 250px;
  height: 250px;
}

#fyrkant-7 {
  background-image: url(pic/new-villager-animations_2.gif);
  background-color: transparent;
  background-size: cover;
  bottom: 1px;
  left: 0px;
  height: 300px;
  width: 275px;
}

#fyrkant-8 {
  background-image: url(pic/bob-esponja-spongebob-squarepants-11563050820zdjpzlmyb1.png);
  background-size: cover;
  bottom: 1px;
  right: 0px;
  height: 300px;
  width: 275px;
}
